table {
    width: 100%;
  }
  .tableComp {
    background-color: rgba(229, 228, 255, 0.315);
  }

  mat-icon {
    cursor: pointer;
}
.cardComp {
 
    background-color: rgba(229, 228, 255, 0.315);
  
  
}

/* .panelColor.mat-select-panel {
  background:  rgba(242, 204, 190, 0.932);
} */

.navbar {
  background: transparent !important;
}

.tableContainer {
  overflow: auto !important;
  max-height: 600px !important;
}
