
    .userList {
        background-color: rgba(229, 228, 255, 0.315) !important;
    }


.alignHeader .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  .alignHeader .mat-expansion-panel-header-title,
.alignHeader .mat-expansion-panel-header-description {
  flex-basis: 0;
}
.mat-expansion-panel-header {
    background-color: rgba(229, 228, 255, 0.315);
    }
    .mat-expansion-panel-header.mat-expanded {
        background-color: rgba(229, 228, 255, 0.315) !important;
      }