<section class="view backImg" fxLayout="column" fxLayoutAlign="center center">
        <div class="full-bg-img mask rgba-gradient">
<mat-card align="center" class="mainComp registerForm">
    <mat-card-title><h4><mat-icon aria-hidden="false">person</mat-icon> Register User</h4></mat-card-title>
    <form [formGroup]="form" (ngSubmit)="auth.register(form.value)">
        <mat-form-field>
            <input matInput placeholder="User Name" formControlName="userName" type="text" required>
            <mat-label *ngIf="form.get('userName').touched && form.get('userName').errors?.required">This
                field is mandatory.</mat-label>
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName" type="text" required>
            <mat-label *ngIf="form.get('firstName').touched && form.get('firstName').errors?.required">This
                field is mandatory.</mat-label>
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastName" type="text" required>
            <mat-label *ngIf="form.get('lastName').touched && form.get('lastName').errors?.required">This
                field is mandatory.</mat-label>
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="Department" formControlName="department" type="text" required>
            <mat-label *ngIf="form.get('department').touched && form.get('department').errors?.required">This
                field is mandatory.</mat-label>
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="Position" formControlName="position" type="text" required>
            <mat-label *ngIf="form.get('position').touched && form.get('position').errors?.required">This
                field is mandatory.</mat-label>
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" type="email" email required>
            <mat-label *ngIf="form.get('email').touched && form.get('email').errors?.required">This
                field is mandatory.</mat-label>
            <mat-label *ngIf="form.get('email').touched && form.get('email').errors?.email">Enter a valid Email address
            </mat-label>
        </mat-form-field><br>
        <!-- <div formGroupName="passwords">
            <mat-form-field>
                <input matInput placeholder="Password" type="password" formControlName="password" required>
                <mat-label
                    *ngIf="form.get('passwords.password').touched && form.get('passwords.password').errors?.required">
                    This
                    field is mandatory.</mat-label>
                <mat-label
                    *ngIf="form.get('passwords.password').touched && form.get('passwords.password').errors?.minlength">
                    Minimum
                    6 characters required.</mat-label>
            </mat-form-field><br>

            <mat-form-field>
                <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword"
                    required>
                <mat-label
                    *ngIf="form.get('passwords.confirmPassword').touched && form.get('passwords.confirmPassword').errors?.required">
                    This
                    field is mandatory.</mat-label>
                <mat-label
                    *ngIf="form.get('passwords.confirmPassword').touched && form.get('passwords.confirmPassword').errors?.passwordMismatch">
                    Password
                    does not match.</mat-label>
            </mat-form-field> -->
        <!-- </div> -->
        <button mat-raised-button color="primary" [disabled]="!form.valid">Register</button>
    </form>
</mat-card>
</div>
</section>