    <h2 *ngIf="data.id" mat-dialog-title align="center">Update Entry</h2>
    <h2 *ngIf="!data.id" mat-dialog-title align="center">Add entry</h2>

<mat-dialog-content class="text dialogColor">
        <form>
                <h4 *ngIf="data.id">User: {{data.userName}}</h4>
                <h4 *ngIf="data.id">Date: {{data.day}}</h4>
                <mat-form-field *ngIf="!data.id">
                        <mat-label>User</mat-label>
                        <mat-select [(ngModel)]="data.userName" name="userName">
                            <mat-option *ngFor="let user of allUsers" [value]="user.userName">
                                {{user.userName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field><br>
                
            <mat-form-field class="fullwidth" *ngIf="!data.id">
                <input matInput [(ngModel)]="data.day" name="day" [matDatepicker]="picker" placeholder="Choose a date" required disabled>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false" panelClass="example-month-picker" startView="multi-year"></mat-datepicker>
            </mat-form-field><br> 
           
            <mat-form-field class="fullwidth">
                <div class="24hr-example">
                    <input matInput [(ngModel)]="data.firstEntry" name="firstEntry" placeholder="First Entry"
                        aria-label="24hr format" [ngxTimepicker]="firstEntry" [format]="24" required>
                    <ngx-material-timepicker [defaultTime]="'09:00 am'" #firstEntry [ngxMaterialTimepickerTheme]="darkTheme"></ngx-material-timepicker >
                </div>
            </mat-form-field><br>
            <mat-form-field class="fullwidth">
                <div class="24hr-example">
                    <input matInput [(ngModel)]="data.secondEntry" name="secondEntry" placeholder="Second Entry"
                        aria-label="24hr format" [ngxTimepicker]="secondEntry" [format]="24" required>
                    <ngx-material-timepicker [defaultTime]="'06:00 pm'" #secondEntry [ngxMaterialTimepickerTheme]="darkTheme"></ngx-material-timepicker>
                </div>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="true" color="secondary">Close</button>
        <button mat-raised-button *ngIf="data.id" [mat-dialog-close]="true" (click)="onUpdateEntry(data)" color="primary" [disabled]="!data.secondEntry" >Update</button>
        <button mat-raised-button *ngIf="!data.id" [mat-dialog-close]="true" (click)="onAddEntry(data)" color="primary" [disabled]="!data.firstEntry">Add</button>
    </mat-dialog-actions>