mat-sidenav-container {
    height: 100%;
    margin: 0;

    background: transparent !important;

    position: fixed;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;

}

mat-sidenav {
    width: 200px;
}



.toolbar-title {
  margin: 0 16px 0 16px;
}

.mat-subheader {
  font-size: 18px;
  font-weight: 900;
}

.app-nav-list-icon {
  margin: 0 12px 0 12px;
}

.iconColor:hover {
  color: #3f51b5
}

.iconColor svg:hover{
  fill: #3f51b5
}
footer {
  position: fixed;
  
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(95, 95, 95, 0.623);
  color: white;
  text-align: center;
  margin: 0px;
}